@font-face {
    font-family: Juliette;
    src: url(./Juliette.otf);
}

@font-face {
    font-family: Altima;
    src: url(./fonts/Altima.otf);
}

@font-face {
    font-family: FF7;
    src: url(./fonts/Final_Fantasy_VII.ttf);
}

@font-face {
    font-family: ReplicaReg;
    src: url(./fonts/Replica-Regular.otf);
}

@font-face {
    font-family: ReplicaBold;
    src: url(./fonts/Replica-Bold.otf);
}

@font-face {
    font-family: GraphikReg;
    src: url(./graphik/Graphik-Regular.otf);
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

nav{

}

nav a{

}

nav a h1{


}

nav a h1:hover{

}

.DCLogo{
    position: absolute;
    top: 10px;
    right: 14px;
    z-index: 10000;
}

.DCLogo h1{
    font-family: ReplicaReg;
    font-size: 56.55px;
    margin: 0;
    padding: 0;
}

#LogoR{
    color: #ff4000;
    animation: 10s restrictedrot infinite;
}

@keyframes restrictedrot {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.gamecontainer{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50vw;
    height: calc(100vh*(7.5/10));
    background-color: red;
}


.storecontainer{
    position: absolute;
    bottom: 0px;
    left; 0px;
    width: 100vw;
    height: 40vh;
    background-color: blue;
}

.swiper-container {
    width: 100vw;
    height: 40vh;
}

.swiper-slide {
    padding: 100px;
    width: 300px;
}

.swiper-slide img {

    
}








