@font-face {
    font-family: Juliette;
    src: url(./Juliette.otf);
}

@font-face {
    font-family: Altima;
    src: url(./fonts/Altima.otf);
}

@font-face {
    font-family: FF7;
    src: url(./fonts/Final_Fantasy_VII.ttf);
}

@font-face {
    font-family: ReplicaReg;
    src: url(./fonts/Replica-Regular.otf);
}

@font-face {
    font-family: ReplicaBold;
    src: url(./fonts/Replica-Bold.otf);
}

@font-face {
    font-family: GraphikReg;
    src: url(./fonts/graphik/Graphik-Regular.otf);
}

@font-face {
    font-family: Gaia;
    src: url(./fonts/Gaia-Display.otf);
}

html,
body {
    position: relative;
    height: 100%;
    overflow: hidden;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    background-color: red;
}

.marquee{
    z-index: 20;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 25px;
    background-color: whitesmoke;
}

.DCLogo{
    z-index: 100;
    display: block;
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.DCLogo img{
    width: 200px;

}

.presentation{
    
}

.reveal{
    z-index: 10;
    position: absolute;
    top: 0px;
    width: 600px;
}

.slides{
 
}
.slides h3{
    color: white;
    font-family: ReplicaReg;
    font-size: 65px;
    line-height: 90px;
}

#typejs{
    color: salmon;
    text-decoration: salmon underline;
}

.maincontainer{
    z-index: 0;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;;
    background-color: salmon;
    
}





























